@font-face {
  font-family: 'DFLungMen-B5';
  src: url("../font/DFLungMen-B5.TTF") format("truetype");
}


body { padding-top: 70px; }

.sidebar {
position: fixed;
top: 51px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto;
background-color: #f5f5f5;
border-right: 1px solid #eee;
}

.PoemName,.PoetName {
  text-align:center;
}
.PoemName h1 {
	font-family: "DFLungMen-B5", Impact, sans-serif;
}

#poemcontent .sentence {
  text-align:center;
}
