@font-face {
  font-family: 'DFLungMen-B5';
  src: url("../font/DFLungMen-B5.TTF") format("truetype");
}


body { padding-top: 70px; }


.PoemName,.PoetName {
  text-align:center;
}
.PoemName h1 {
	font-family: "DFLungMen-B5", Impact, sans-serif;
}

#poemcontent .sentence {
  text-align:center;
}
